:root{
    --verde: #76b900;
    --preta: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background-color: var(--preta);
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    color: white;
    max-width: 1300px;
    margin: auto;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--verde);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
    }

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--verde);
}

/*destaque da semana*/
.destaque{
    margin: 50px 0 20px 0;
    font-size: 25px;
}
.destaque_semana{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/TW3.jpg');
    height: 423px;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    max-width: 740px;
    margin: auto;
}
.destaque_semana:hover{
    background: url('../img/TW3.jpg');
    height: 423px;
    background-size: cover;
}

.titulo_game{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0,0,0,.50);
    padding-left: 10px;
    padding-right: 10px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    margin-top: 65%;
    margin-left: 15px;
}

.botao:hover{
    background-color: var(--verde);
    color: black;
}

/*divisão*/
.divisao{
    background-color: var(--verde);
    height: 3px;
    margin: 20px 0 30px 0;
}

/*parte de baixo*/
.titulo2{
    margin-bottom: 8px;
}
.jogos_rpg{
    height: 200px;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}